@model UserLoginDemo.Models.代码_电子住院证

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>代码_电子住院证</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.就诊ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.就诊ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.出生地)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.出生地)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.二级科室)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.二级科室)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.入院科别)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.入院科别)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.关系)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.关系)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.流水号 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
