@model UserLoginDemo.Models.代码_电子住院证

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>代码_电子住院证</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.就诊ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.就诊ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.出生地)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.出生地)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.二级科室)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.二级科室)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.入院科别)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.入院科别)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.关系)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.关系)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.关系电话)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.关系电话)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.出生日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.出生日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.医生签名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.医生签名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.婚姻状况)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.婚姻状况)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.家庭住址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.家庭住址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.工作单位)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.工作单位)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.性别)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.性别)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.病人姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.病人姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.病人性质)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.病人性质)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.病区)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.病区)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.职业)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.职业)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.联系人姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.联系人姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.诊疗小组)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.诊疗小组)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.身份证号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.身份证号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.门急诊诊断)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.门急诊诊断)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.国籍2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.国籍2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.年龄)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.年龄)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.电话)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.电话)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.第几次住院)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.第几次住院)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.邮编)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.邮编)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.医生工号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.医生工号)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.流水号 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
